body{
    background:black;
    position:absolute;
    
    }
  
  .title{
      background-color: white;
     display:inline-flex;
      border-radius: 3px;
      border: 3px solid rgb(194, 192, 192);
      width:40cm;
      
  }
  img{
    
      width:50px;
      height:50px;
   padding:15px;
   justify-content: center;
   
    
  }
  h1{
   
    padding-left: 8px;
    padding-right:26cm;
    justify-items:start;
    border-left: 3px solid rgb(194, 192, 192);
    border-right:3px solid rgb(194, 192, 192);
  }
      
  
  
   form.nosubmit {
          border: none;
          padding: 0;
         margin-top: 22px;
         padding-left:5px;
    
        
        }
        
        input.nosubmit {
          width: 260px;
          border: 1px solid #555;
          display: block;
          padding: 9px 4px 9px 40px;
          width:6cm;
          background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
        }
       .grid{
          background-color: rgb(237, 234, 234);
          
          height:auto;
          display:grid;
          grid-template-columns: repeat(3,1fr);
          grid-template-rows: repeat(3,1fr);
          padding-left: 5cm;
         
          
       }
       .card{
        
          background-color: white;
         justify-content: center;
         text-align: center;
         border-radius:6px;
         margin:7px;
         margin-right:3cm;
        
         justify-content: center;
         box-shadow:0 1px 2px grey;
         font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       }
      .card:hover{
            background-color:rgb(234, 238, 238);
      }
      .menu{
        position:relative;
        float:left;
       z-index: 50000;
       height:93px;
       height:25.5cm;
       width:7cm;
      text-align: center;
        background-color: rgb(234, 238, 238);
        border-right: 3px solid rgb(194, 192, 192);
        justify-content: center;
        
      }
      h3{
        border-bottom: 3px solid rgb(194, 192, 192);
        color:black;
        padding-bottom:7px;;
        
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      h3:hover{
        background-color: rgb(251, 251, 251);
        cursor:pointer;
      }
  button{
  background-color:black ;
  padding:20px;
  font-size:16px;
  border-radius: 10px;
  color:white;
  margin-top:500px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  button:hover{
    background-color: white;
    cursor:pointer;
    color:black;
  }
  .icons{
     width:50px;
  display: flex;;
  padding-left:90px
  
     }
     .flex{
      display: inline-flex;
     }
   .sub{
    width:25px;
    padding-top:20px;
   }
    
